body {
  margin-top: 100px;
  background-color: rgb(233, 215, 207);
  text-align: center;
  color: rgb(83, 75, 75);
}

h1 {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
}